*, *::before, *::after {
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
  }

  #background-video {
    width: 100vw;
    height: vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .header {
    padding: 5 px;
    justify-content: center;
    align-content: center;
    color: white;
    font-size: 20px;
  }
  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  }
  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    font-style: bold;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
  }
  .calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
  }
  .span-two {
    grid-column: span 2;
  }
  .output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5rem;
  }
  
@media (max-width: 750px) {
  #background-video { display: none; }
  body {
    background: src("‪video.mp4") no-repeat;
    background-size: cover;
  }
}